@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Poetsen+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(41, 41, 41, 0.6);
    color: rgb(255, 255, 255);
}

/* List Bullet points and on hover color*/

#navbar-container li,
#social-media-links li {
    list-style-type: none;
}

li a {
    color: #ffffff;

}

li a:hover {
    color: black;
}

