@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap'); 
body {
    margin: 0;
    padding: 0;
    background-color: rgba(41, 41, 41, 0.6);
    color: rgb(255, 255, 255);
}
